body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {

background-image: url(http://www.up2me.co.il/imgs/2637388.jpg);
 /* background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 15px;
  right: 400px;
  width: 15px;
  */
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  bottom: 310px;
  right: 250px;
  border: 3px solid #669999;
  background-color: #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #f2f2f2;
  font-family: Verdana, Geneva, sans-serif;
}





/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



   .close {
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 2%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
  }
  
  .close:hover {background: #bbb;}

  #title_info {

    color:#004d4d;
  }


 