
            #explanMachinePage {

                margin-left:100px;
                 margin-top: 40px;
                 font-size: 25px;
            }

            #IncorrectTable {

                margin-top: 60px;
                margin: 60px 25px 25px 25px;
                margin-left: 30px;
                
                
            }

            #explanMachinePage {

              margin-left:100px;
              margin-top: 40px;
              font-size: 30px;
            }

            .MainAREA {

            margin-left: 120px;
            margin-top: 25px;
            margin-bottom: 25px;
            width: 1315px;
            height: 600PX;
            background: url("http://www.up2me.co.il/imgs/38478576.jpg" )  ;

            }

            /**************************************************************************************************************************************/

            /*BUTTOMS MECHINES*/

            .btn-btn-outline-dark {

              width: 80pxx;
              height: 60px;
              font-size: 12px;

            }

            /******************/

           .col1 {

             margin-top:20px;
             margin-left:480px;
           }

           #ROSLER-FIRST-MACHINE-634 {

             margin-top: 10px;
           }

           /******************/

           .col2 {

             margin-left: 10px;
             margin-top: 20px;
           }

           .col3 {

             margin-left: 80px;
             margin-top: 20px
           }

           .col4 {

             margin-top: 90px;
             margin-left: 200px;
           }

           .col5 {

             margin-top: 90px;
             margin-left: 70px;
           }

           .col6 {

            margin-top: 90px;
            margin-left: 70px;

           }

           /***************************/

           /*machine 629*/

           .col7 {

             margin-left: 50px;
             margin-top: 15px;
           }

           .col8 {

            margin-left: 10px;
            margin-top: 15px;
           }

           .col9 {

            margin-left: 10px;
            margin-top: 15px;

           }

           .col10 {

            margin-left: 10px;
            margin-top: 15px;
           
          }

          .col11 {

          margin-left: 10px;
          margin-top: 15px;

          }


          .col12 {

          margin-left: 10px;
          margin-top: 15px;
 
          }



           /***************************/

          /*machine 637*/


          .col13 {

            margin-left: 50px;
            margin-top: 25px;
          }

          .col14 {

            margin-left: 10px;
            margin-top: 25px;
          }

          .col15 {

          margin-left: 10px;
          margin-top: 25px;
          }

          .col16 {

          margin-left: 10px;
          margin-top: 25px;
          }

          .col17 {

          margin-left: 10px;
          margin-top: 25px;
          }

          .col18 {

          margin-left: 10px;
          margin-top: 25px;
          }

          .col19 {

          margin-left: 10px;
          margin-top: 25px;
          }

          .col20 {

          margin-left: 10px;
          margin-top: 25px;
          }

          .col21 {

          margin-left: 10px;
          margin-top: 25px;
          }

          .col22 {

          margin-left: 10px;
          margin-top: 25px;
          }

          .col23 {

          margin-left: 10px;
          margin-top: 25px;
          }

          .col24 {

          margin-left: 10px;
          margin-top: 25px;
          }

          .col25 {

          margin-left: 10px;
          margin-top: 25px;
          }

           /***************************/

           /*MACHINE 0148*/

           .col26 {

            margin-left: 450px;
            margin-top: 15px;
            }

            .col27 {

            margin-left: 10px;
            margin-top: 15px;
            }

            .col28 {

            margin-left: 10px;
            margin-top: 15px;
            }


            .col29 {

            margin-left: 10px;
            margin-top: 15px;
            }


            /*************************/

            /*MACHINE BOX-2 0148*/

            .col30 {

            margin-left: 50px;
            margin-top: 30px;
            }

            .col31 {

            margin-left: 10px;
            margin-top: 30px;
            }


            .col32 {

            margin-left: 10px;
            margin-top: 30px;
            }


            .col33 {

            margin-left: 630px;
            margin-top: 30px;
            }


            .col34 {

            margin-left: 10px;
            margin-top: 30px;
            }

            .col35 {

            margin-left: 10px;
            margin-top: 30px;
            }
